* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  height: 70px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}


/* Left side */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 120px;
}



/* Right side */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.nav-right a:hover {
  color: #1db954;
}

.divider {
  color: gray;
}

.login-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e6e6e6;
}
.aadi{
  height: 50px;
  width: 400px;
  border-radius: 40px;
 background-color: rgb(255, 255, 255);
    color: #ffffff;
    display: flex;
  
  padding: 10px 15px;
  
  border: none;
  outline: none;
  font-size: 20px;
}
.icon1{
  color: #000;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
.input{
  border: none;
  margin-left: 15px;
}